

@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<link rel="stylesheet" type="text/css" href="./../css/DatHangThanhCong.css">


<div class="breadcrumb">
    <a href="/" class="home">Trang chủ</a>
    <span class="dot">•</span>
    <a class="order">Đặt hàng thành công</a>
</div>

<div class="order-success">
    <div class="success-icon">
        <img src="./../images/success.png" alt="Đặt hàng thành công" />
    </div>
    <h1>Bạn đã đặt hàng thành công!</h1>
    <div class="details">
         <div class="code-order">
                <span>Mã đơn hàng</span>
            <p><strong>@Model.MaDonHang</strong></p>
            </div>
            <div class="date-order">
                <span>Ngày mua</span>
            <p><strong>@Model.NgayMua?.ToString("dd/MM/yyyy")</strong></p>
            </div>
            <div class="total-order">
                <span>Tổng</span>
            <p><strong>@String.Format("{0:0,0} đ", Model.TongTien)</strong></p>
            </div>
            <div class="methoth-order">
                <span>Phương thức thanh toán</span>
            <p><strong> @Model.PhuongThucThanhToan</strong></p>
            </div>
    </div>
    <div class="button-group">
        <a href="@Url.Action("LichSuDonHang", "KhachHang")" class="button">Xem đơn hàng</a>
        <a href="@Url.Action("Index", "KhachVangLai")" class="button button-secondary">Tiếp tục mua hàng</a>
    </div>
</div>
