@model QUANLYBANMAYANH_NHOM24.Models.MyViewModels

@{
    ViewData["Title"] = "Lịch sử đơn hàng";
}

<link rel="stylesheet" type="text/css" href="./../css/LichSuDonHang.css">


<div class="breadcrumb">
    <a href="@Url.Action("Index", "KhachVangLai")" class="home">Trang chủ</a>
    <span class="dot">•</span>
    <a href="@Url.Action("CapNhatThongTin", "KhachHang")" class="account">Tài khoản</a>
    <span class="dot">•</span>
    <a class="order-history">Lịch sử đơn hàng</a>
</div>

<div class="profile-container mt-5">
    <div class="sidebar col-md-6">
        <div class="avtar-name-user">
            <img src="./../images/user_avatar.png" />
            <h2>@Model.NguoiDung.TenNguoiDung</h2>
        </div>
        <ul>
            <li class="acc-menu-items">
                <a href="@Url.Action("CapNhatThongTin", "KhachHang")" class="user">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Thông tin cá nhân</span>
                </a>
            </li>
            <li class="acc-menu-items">
                <a href="@Url.Action("LichSuDonHang", "KhachHang")" class="order">
                    <i class="fa-solid fa-clipboard"></i>
                    <span>Đơn hàng</span>
                </a>
            </li>
            <li class="acc-menu-items">
                <a href="@Url.Action("DiaChiNhanHang", "KhachHang")" class="address">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Địa chỉ giao hàng</span>
                </a>
            </li>
            <li class="acc-menu-items">
                <a href="@Url.Action("DoiMatKhau", "KhachHang")" class="change-pass">
                    <i class="fa-solid fa-lock"></i>
                    <span>Đổi mật khẩu</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="order-list col-md-6">
        <h2>Lịch sử đơn hàng</h2>
        <div class="order-list-items">
            <div class="order-search-box">
                <form action="@Url.Action("LichSuDonHang", "KhachHang")" method="GET">
                    <input type="text" name="query" placeholder="Nhập mã đơn hàng hoặc ngày đăt" />
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

            </div>           

            @if (Model.DonHang != null && Model.DonHang.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Mã Đơn Hàng</th>
                            <th>Ngày Mua</th>
                            <th>Tổng Tiền</th>
                            <th style="text-align: right;">Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var donHang in Model.DonHang)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("ChiTietDonHang", "KhachHang", new { id = donHang.MaDonHang })">@donHang.MaDonHang</a>
                                </td>
                                <td>@(DateTime.TryParse(donHang.NgayMua, out DateTime ngayMua) ? ngayMua.ToString("dd/MM/yyyy") : "Không xác định")</td>
                                <td>@donHang.TongTien.ToString("C0")</td>
                                <td class="status reserved">@donHang.Trangthai</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Không có đơn hàng nào!</p>
            }


        </div>
            
    </div>



    <!-------------  Scrip t--------------->
</div>


<script>
    document.querySelector("form").addEventListener("submit", function (e) {
        const query = document.querySelector("input[name='query']").value.trim();
        if (query === "") {
            e.preventDefault();
            alert("Vui lòng nhập thông tin tìm kiếm!");
        }
    });

</script>